.add__block{
    background-color: #ffffff;
    color: #000000;
}

.add__wrap{
    padding: 174px 0 140px;
}

.add__title{
    margin: 0;
    margin-bottom: 18px;
    font-family: 'ProximaNovaExtrabld';
    font-size: 38px;
    line-height: 46px;
}

.add__text{
    margin: 0;
    margin-bottom: 74px;
    font-family: 'ProximaNovaRegular';
    font-size: 16px;
    line-height: 24px;
}

.add__textarea{
    position: relative;
    padding: 22px 16px;
    width: 770px;
    height: 144px;
    background: #FFFFFF;
    border: 1px solid #23415E;
    border-radius: 6px;
    overflow: auto;
    font-family: 'ProximaNovaRegular';
    color: #000000;
    font-size: 15px;
    line-height: 20px;
    resize: none;
    outline: none;
    overflow: auto;
}

.add__form textarea::-webkit-scrollbar{
    position: absolute;
    width: 8px;
}

.add__form textarea::-webkit-scrollbar-track{
    background-color: rgba(208, 201, 214, 0.3);
    border-radius: 6px;
}

.add__form textarea::-webkit-scrollbar-thumb{
    background-color: #D0C9D6;
    border-radius: 6px;
}

.add__form-textarea-info{
    width: 770px;
    display: none;
    font-family: 'ProximaNovaSemibold';
    font-size: 12px;
    line-height: 20px;
    text-align: right;
    color: #D0C9D6;
}

.add__form-textarea-info--active{
    display: inline-block;
}

.add__textarea::placeholder{
    color: #D0C9D6;
}

.form__add-btn{
    width: 240px;
    height: 52px;
    background-color: #E5E31F;
    background-repeat: 10px;
    font-family: 'ProximaNovaSemibold';
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #2A4F71;
    border: none;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
}

.form__add-img{
    margin-top: 21px;
    height: 34px;
    display: flex;
    align-items: center;
    margin-bottom: 110px;
}

.form__add__upload-img{
    width: 230px;
    height: 60px;
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.form__add__upload-img-text{
    display: inline-block;
    width: 230px;
    height: 24px;
    font-family: 'ProximaNovaSemibold';
    font-size: 16px;
    line-height: 24px;
    color: #2A496B;
    background: center/ contain no-repeat url(../img/add_img.svg);
    background-position: left;
    background-size: 21px 18.38px;
    text-align: right;
    vertical-align: middle;
}

.form__add__uploaded-img__container{
    margin-left: 70px;
    display: none;
    justify-content: center;
    align-items: center;
}

.form__add__uploaded-img__container--active{
    display: flex;
}

.form__add__uploaded-img-icon{
    margin-right: 35px;
    width: 34px;
    height: 34px;
}

.form__add__uploaded-img-name{
    margin-right: 15px;
    font-family: 'ProximaNovaRegular';
    font-size: 16px;
    line-height: 24px;
}

.form__add__uploaded-img_close-btn{
    width: 18px;
    height: 18px;
    background: center/contain no-repeat url(../img/close.svg);
    outline: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.form__add__error{
    margin-left: 138px;
    color: #FF2323;
    font-family: 'ProximaNovaRegular';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.highlight{
    color: #FF2323;
}

@media(max-width: 768px){
    .add__wrap{
        padding: 174px 0 140px;
    }
    .add__form textarea{
        width: 100%;
    }
    .add__form-textarea-info{
        width: 100%;
        margin-bottom: 5px;
    }
}

@media(max-width: 376px){
    .add__wrap{
        padding: 96px 0 106px;
    }
    .add__title{
        font-size: 32px;
        line-height: 46px;
    }
    .add__text{
        margin-bottom: 50px;
    }
    .add__form textarea{
        margin-bottom: 4px;
    }
    .add__form-textarea-info{
        margin-bottom: 6px;
    }
    .form__add-img{
        flex-direction: column;
        align-items: start;
        margin: 22px 0 87px;
    }
    .form__add__upload-img-text{
        width: 229px;
        margin-bottom: 30px;
    }
    .form__add__uploaded-img__container{
        margin: 0;
        margin-bottom: 32px;
    }
    .form__add__error{
        margin: 0;
        margin-bottom: 37px;
    }
}