.add__block{
    background-color: #ffffff;
    color: #000000;
}

.add__wrap{
    padding: 174px 135px 140px;
}

.add__title{
    margin: 0;
    margin-bottom: 18px;
    font-family: 'ProximaNovaExtrabld';
    font-size: 38px;
    line-height: 46px;
}

.add__text{
    margin: 0;
    margin-bottom: 74px;
    font-family: 'ProximaNovaRegular';
    font-size: 16px;
    line-height: 24px;
}

.add__form textarea{
    margin-bottom: 31px;
    padding: 22px 16px;
    width: 770px;
    height: 144px;
    background: #FFFFFF;
    border: 1px solid #23415E;
    border-radius: 6px;
    overflow: auto;
    font-family: 'ProximaNovaRegular';
    color: #000000;
    font-size: 15px;
    line-height: 20px;
    resize: none;
    outline: none;
}

.add__form textarea::placeholder{
    color: #D0C9D6;
}


.form__add-btn{
    width: 240px;
    height: 52px;
    background-color: #E5E31F;
    background-repeat: 10px;
    font-family: 'ProximaNovaSemibold';
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #2A4F71;
    border: none;
    border-radius: 10px;
    outline: none;
}

.form__add-img{
    display: flex;
    align-items: center;
    margin-bottom: 103px;
}

.form__add__upload-img{
    width: 230px;
    position: absolute;
    opacity: 0;
}

.form__add__upload-img-text{
    display: inline-block;
    width: 230px;
    height: 24px;
    font-family: 'ProximaNovaSemibold';
    font-size: 16px;
    line-height: 24px;
    color: #2A496B;
    background: center/ contain no-repeat url(../img/add_img.png);
    background-position: left;
    background-size: 21px 18.38px;
    text-align: right;
    vertical-align: middle;
}

.form__add__uploaded-img{
    margin-left: 64px;
    display: none;
    justify-content: center;
    align-items: center;
}

.form__add__uploaded-img--active{
    display: flex;
}

.form__add__uploaded-img-icon{
    margin-right: 35px;
    width: 34px;
    height: 34px;
}

.form__add__uploaded-img-name{
    margin-right: 15px;
    font-family: 'ProximaNovaRegular';
    font-size: 16px;
    line-height: 24px;
}

.form__add__uploaded-img_close-btn{
    width: 18px;
    height: 18px;
    background: center/contain no-repeat url(../img/close.svg);
    outline: none;
    background-color: transparent;
    border: none;
}