.footer{
    padding: 96px 135px 87px;
    background-color: #23415E;
    margin-bottom: -50px;
}

.footer__wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer__list__wrap{
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 370px;
}

.footer__list{
    margin: 0;
    font-family: 'ProximaNovaRegular';
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer__item{
    font-size: 15px;
    line-height: 36px;
    color: #ffffff;
    list-style-type: none;
    flex-basis: 50%;
}

.footer__contacts{
    font-size: 15px;
    line-height: 19px;
    color: #A9C5E0;
    
}

.footer__contacts span{
    margin-bottom: 20px;
    display: inline-block;
}

@media(max-width: 768px){
    .footer{
        padding: 96px 15px;
    }
    .footer__wrap{
        justify-content: start;
    }
    .footer__list{
        margin-left: 130px;
        margin-bottom: 96px;
    }
    .footer__list__wrap{
        padding: 0;
    }
    .footer__contacts{
        margin-left: 250px;
    }
}

@media(max-width: 375px){
    .footer__wrap{
        flex-direction: column;
    }
    .footer__list__wrap{
        margin: 0;
        width: 312px;
    }
    .footer__list{
        margin: 64px 0;
    }
    .footer__contacts{
        margin: 0;
    }
}