.footer{
    padding: 89px 135px 87px;
    background-color: #23415E;
    margin-bottom: -50px;
}

.footer-logo{
    padding-top: 7px;
}

.footer__wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
/*
.footer__list__wrap{
    padding-left: 24px;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 370px;
}*/

.footer__list{
    margin: 0;
    font-family: 'ProximaNovaRegular';
    display: grid;
    grid-template-columns: 170px 170px;
    grid-auto-rows: 36px;
    gap: 0 30px;
    //display: flex;
    //flex-direction: row;
    //flex-wrap: wrap;
    //justify-content: space-between;
}
/*
.footer__item{
    
    
    list-style-type: none;
    flex-basis: 50%;
}*/

.footer__item-link{
    padding-left: 25px;
    font-size: 15px;
    line-height: 36px;
    color: #ffffff;
    text-decoration: none;
}

.footer__contacts{
    font-size: 15px;
    line-height: 19px;
    color: #A9C5E0;
    padding-top: 9px;
}

.footer__contacts span{
    margin-bottom: 20px;
    display: inline-block;
}

@media(max-width: 768px){
    .footer{
        padding: 91px 15px 96px;
    }
    .footer-logo{
        padding-top: 6px;
    }
    .footer__wrap{
        justify-content: start;
    }
    .footer__list{
        margin-left: 105px;
        margin-bottom: 87px;
    }
    .footer__list__wrap{
        padding: 0;
    }
    .footer__contacts{
        margin-left: 250px;
    }
}

@media(max-width: 376px){
    .footer__wrap{
        flex-direction: column;
    }
    .footer__list__wrap{
        margin: 0;
        width: 312px;
    }
    .footer__list{
        margin: 70px 0 55px;
        grid-template-columns: 142px 142px;
        gap: 0;
    }
    .footer__item-link{
        padding: 0;
    }
    .footer__contacts{
        margin: 0;
    }
}