.header{
    height: 718px;
    width: 100%;
    background: radial-gradient(75.49% 75.49% at 61.01% 75.77%, #376A9A 0%, #2B5276 100%);
    color: white;
}

.header__primary{
    padding: 27px 0px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    height: 16px;
}

.logo-link{
    text-decoration: none;
}

.logo-text{
    display: flex;
    align-items: center;
}

.logo-text-separator{
    margin-left: 50px;
    margin-right: 30px;
    height: 14px;
    width: 0.8px;
    background-color: #A9C5E0;
}

.logo-text p{
    margin: 0;
    font-size: 13px;
    line-height: 21px;
    font-family: 'ProximaNovaLight';
    color: #A9C5E0;
    font-weight: 400;
}

.login{
    position: relative;
    display: flex;
}

.login__button::before{
    width: 126px;
    content: "8 (909) 023-12-51";
    position: absolute;
    right: 246px;
    background: left/ contain no-repeat url(../img/phone.svg);
    background-position: 2px 4px;
    font-family: 'ProximaNovaLight';
    background-size: 14px 14px;
    font-size: 13px;
    line-height: 24px;
    color: #A9C5E0;
    text-align: right;
}

.login__button{
    width: 170px;
    height: 52px;
    text-align: center;
    font-family: 'ProximaNovaSemibold';
    font-size: 18px;
    color: #E5E31F;
    border: 1px solid #E5E31F;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}

@media(max-width: 1305px){
    .slide-image{
        display: none;
    }
}

@media(max-width: 768px){
    .header__primary{
        padding: 27px 0 0;
    }
    .slider__item{
        height: 612px;
    }
    .slider__item-wrap{
        padding: 0 15px;
    }
    .logo-text p{
        padding-top: 2px;
    }
    .login__button::before{
        width: 120px;
        right: 0px;
        top: 83px;
        background-position-x: 0px;
    }
    .label__title{
        width: 90%;
    }
    .label__text{
        width: 70%;
    }
    .label__button{
        display: none;
    }
}

@media(max-width: 376px){
    .logo-text{
        display: none;
    }
    .phone{
        display: none;
    }
    .login__button::before{
        display: none;
    }
    .header__secondary{
        margin: 0;
    }
    .label{
        margin: 0 auto;
    }
    .label__title{
        margin: 148px 0 37px;
        width: 100%;
        font-size: 38px;
        line-height: 46px;
    }
    .label__text{
        margin-bottom: 63px;
        width: 100%;
        font-size: 16.23px;
        line-height: 24px;
    }
    .label__button{
        width: 100%;
        display: block;
    }
}

.header__secondary{
    padding-top: 27px;
}

.slider{
    position: relative;
    max-width: 1400px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.slider__wrapper{
    position: relative;
}

.slider__items{
    display: flex;
    transition: transform 0.6s ease;
}

.slider__item{ /*add this*/
    flex: 0 0 100%;
    max-width: 100%;

    &-wrap{
        display: flex;
        justify-content: space-between;
        padding-left: 135px;
    }
    
}

.label__title{
    margin: 156px 0 18px;
    width: 660px;
    font-family: 'ProximaNovaExtrabld';
    font-size: 64px;
    line-height: 64px;
}

.label__text{
    margin-bottom: 87px;
    width: 495px;
    font-family: 'ProximaNovaLight'; 
    font-size: 16.2px;
    line-height: 24px;
}

.label__button{
    width: 240px;
    height: 52px;
    background-color: #E5E31F;
    background-repeat: 10px;
    font-family: 'ProximaNovaSemibold';
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #2A4F71;
    border: none;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
}

.slide-image{
    vertical-align: bottom;
    padding-left: 10px;
}

#slider-image-s1{
    margin-right: 135px;
}

#slider-image-s2{
    overflow-x: hidden;
}

.slider__indicators {
    position: absolute;
    right: 0;
    bottom: 32px;
    left: 0;
    z-index: 15;
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin: 0 15%;
    list-style: none;
}

.slider__indicators li{
    box-sizing: content-box;
    width: 14px;
    height: 14px;
    margin: 0 3px;
    text-indent: -999px;
    cursor: pointer;
    border: none;
    background: center/ contain no-repeat url(../img/indicator.svg);
}

.slider__indicators li.active{
    background: center/ contain no-repeat url(../img/indicator-active.svg);
}