.main__area{
    background-color: #ffffff;
    color: #000000;
}

.container{
    padding: 96px 135px 26px;
    margin: 0 auto;
    align-items: center;
    text-align: center;
}

.main__title{
    margin: 0;
    margin-bottom: 148px;
    font-family: 'ProximaNovaBold';
    font-size: 28px;
    line-height: 34px;
    color: #2A496B;
}
/*
.main__list{
    display: inline-block;
    width: 80%;
}

.list__wrap{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.main__item{
    flex-basis: 30%;
    width: 100%;
    margin-bottom: 114px;
}*/

.main__list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.list__wrap{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 0 -30px;
}

.main__item{
    width: 370px;
    padding: 0 30px;
    margin-bottom: 114px;
    //flex-basis: 30%;
}

.item__image{
    height: 59px;
}

.item__title{
    margin: 0;
    padding-top: 36px;
    padding-bottom: 24px;
    font-family: 'ProximaNovaSemibold';
    font-size: 20px;
    line-height: 28px;
}

.item__text{
    margin: 0 auto;
    width: 100%;
    font-family: 'ProximaNovaRegular';
    font-size: 15px;
    line-height: 19px;
}

@media(max-width: 768px){
    .container{
        padding: 96px 15px;
    }
    .list__wrap{
        margin: 0 -12px;
    }
    .main__item{
        width: 360px;
        padding: 0 12px;
        flex-basis: 50%;
    }
    .main__item:last-child{
        margin-bottom: 0;
    }
    .item__text{
        width: 100%;
    }
}

@media(max-width: 375px){
    .container{
        padding: 96px 15px 103px;
    }
    .main__title{
        margin-bottom: 146px;
    }
    .main__item{
        width: 100%;
        flex-basis: 100%;
        margin-bottom: 64px;
    }
    .item__text{
        width: 100%;
    }
}