@import "fonts.scss";
@import "header.scss";
@import "main_area.scss";
@import "footer.scss";
@import "modal_window.scss";

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'ProximaNovaRegular';
}